<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Registro de Personas</h2>
            <form>

                <div class="form-group">
                    <label>Identificacion</label>
                    <input type="number" name="identificacion" formControlName="persona.identificacion"
                        class="form-control" [ngClass]="{ 'is-invalid ' : control.idCliente.errors}" />
                    <div *ngIf="control.idCliente.errors" class="invalid-feedback">
                        <div *ngIf="control.idCliente.errors.required">Identificacion requerida</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" name="nombre" formControlName="persona.nombre" class="form-control"
                        [ngClass]="{ 'is-invalid ' : control.idCliente.errors}" />
                    <div *ngIf="control.idCliente.errors" class="invalid-feedback">
                        <div *ngIf="control.idCliente.errors.required">Nombre requerido</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" name="apellidos" formControlName="persona.apellidos" class="form-control"
                        [ngClass]="{ 'is-invalid ' : control.idCliente.errors}" />
                    <div *ngIf="control.idCliente.errors" class="invalid-feedback">
                        <div *ngIf="control.idCliente.errors.required">Apellidos requerido</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Sexo</label>
                    <input type="text" name="sexo" formControlName="persona.sexo" class="form-control"
                        [ngClass]="{ 'is-invalid ' : control.idCliente.errors}" />
                    <div *ngIf="control.idCliente.errors" class="invalid-feedback">
                        <div *ngIf="control.idCliente.errors.required">Sexo requerido</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Edad</label>
                    <input type="number" name="edad" formControlName="persona.edad" class="form-control"
                        [ngClass]="{ 'is-invalid ' : control.idCliente.errors}" />
                    <div *ngIf="control.idCliente.errors" class="invalid-feedback">
                        <div *ngIf="control.idCliente.errors.required">Edad requerida</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Ciudad</label>
                    <input type="text" name="ciudad" formControlName="persona.ciudad" class="form-control"
                        [ngClass]="{ 'is-invalid ' : control.idCliente.errors}" />
                    <div *ngIf="control.idCliente.errors" class="invalid-feedback">
                        <div *ngIf="control.idCliente.errors.required">Ciudad requerida</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Departamento</label>
                    <input type="text" name="departamento" formControlName="persona.departamento" class="form-control"
                        [ngClass]="{ 'is-invalid ' : control.idCliente.errors}" />
                    <div *ngIf="control.idCliente.errors" class="invalid-feedback">
                        <div *ngIf="control.idCliente.errors.required">Departamento requerido</div>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="add()">Registrar</button>
                    <button class="btn btn-secondary" type="reset">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>